---
// component import
import MainLayout from "./MainLayout.astro";
import PostHeader from "../components/PostHeader.astro";

const { frontmatter } = Astro.props;
const { title, description, date } = frontmatter;
---

<MainLayout {title} {description}>
  <PostHeader {title} {description} {date}/>
  <div class="post-content text-white w-1/2 m-auto text-3xl">
    <div class="content">
      <slot />
    </div>
    <div class="sidebar"></div>
  </div>
</MainLayout>