---
// component import
import MainLayout from "./MainLayout.astro";
import PostHeader from "../components/PostHeader.astro";

const { frontmatter } = Astro.props;
const { title, description, date } = frontmatter;
---

<MainLayout {title} {description}>
  <PostHeader {title} {description} {date} class="text-5xl"/>
  <div class="post-content text-gray-300 font-normal tracking-wider space-x-2 font-cambria w-1/2 m-auto text-2xl">
    <div class="content">
      <slot />
    </div>
    <div class="sidebar"></div>
  </div>
</MainLayout>